global-exclude *
include LICENSE
include MANIFEST.in
include pyproject.toml
include README.md
include README.rst
include setup.cfg
include setup.py
include VERSION
recursive-include comment *.py
recursive-include comment/locale *
recursive-include comment/migrations *
recursive-include comment/static *
recursive-include comment/templates *
recursive-include comment/templatetags *
global-exclude *.pyc
