<div>
    {% for comment in object.comments.parent_comments %}

        <div class="m-4">
            {# parent #}
            <input type="checkbox" class="peer sr-only" id="reply-{{ comment.get_hash }}">

            <div class="rounded-3xl rounded-bl-none bg-gray-400 p-4 text-gray-100">

                <b>{{ comment.user.username }}:</b>

                <div>
                    {# SPOILER CHECKBOX #}
                    {% if comment.is_spoiler %}
                        <input type="checkbox" class="peer sr-only" id="spoiler-{{ comment.get_hash }}">
                        <label for="spoiler-{{ comment.get_hash }}"><span>👁</span></label>
                        <span class="bg-gray-100 peer-checked:bg-transparent">{{ comment.content }}</span>
                    {% else %}
                        <span>{{ comment.content }}</span>
                    {% endif %}
                </div>

                {#REPLY#}
                <label for="reply-{{ comment.get_hash }}"><span class="cursor-pointer text-blue-700">Reply</span></label>

                {% if request.user.is_authenticated and comment.user == request.user %}
                    {#DELETE#}
                    <a href="{% url 'comment:delete' pk=comment.pk %}" class="text-red-500">Delete</a>
                    <span class="float-right text-sm">{{ comment.posted }}</span>

                    {#EDIT#}
                    <input type="checkbox" class="peer sr-only" id="edit-{{ comment.get_hash }}">
                    <label for="edit-{{ comment.get_hash }}"><span class="cursor-pointer text-green-700">Edit</span></label>
                    {#EDIT-FORM#}
                    <div class="hidden peer-checked:block">
                        <form method="post" action="{% url 'comment:update' pk=comment.pk %}">
                            {% csrf_token %}
                            <textarea name="content" class="text-black p-1 bg-gray-100 block w-full resize-y box-border text-base mb-2 border-none outline-0 min-h-[120px] placeholder:text-gray-300">{{ comment.content }}</textarea>
                            <button type="submit" class="bg-blue-600 rounded-full p-2">Update</button>
                        </form>
                    </div>
                {% endif %}

            </div>

            {# children #}
            <div class="hidden peer-checked:block">
                {% for child in comment.children.all %}

                    {# child #}
                    <div class="m-4 rounded-3xl rounded-bl-none bg-blue-600 p-4 text-white ml-12">
                        <b>{{ child.user.username }}:</b>
                        <span>{{ child.content }}</span>
                        <span class="float-right text-sm">{{ child.posted }}</span>
                    </div>

                {% endfor %}
                {#REPLY-FORM#}
                {% include 'comment/comment_form.html' %}

            </div>

        </div>
    {% endfor %}
</div>