<div class="m-4">
    <input type="checkbox" class="peer sr-only" id="{{ comment.get_hash }}">

    <div class="rounded-3xl rounded-bl-none bg-gray-400 p-4 text-gray-100">

        <b>{{ comment.user.username }}:</b>
        <span>{{ comment.content }}</span>
        <label for="{{ comment.get_hash }}"><span class="cursor-pointer text-blue-700">Reply</span></label>
        <span class="float-right text-sm">{{ comment.posted }}</span>

    </div>
    <span class="float-right text-sm peer-checked:float-left">{{ comment.posted }}</span>
</div>
