{% load static %}
{% load comment_tags %}

<input type="checkbox" class="peer sr-only" id="toggle-spoiler-{{ comment.urlhash }}">
<div class="flex justify-between">

    {#COMMENT INFO#}
    <div class="inline-block align-middle h-12">
        {% get_profile_image comment.user as profile_image %}
        {% if profile_image %}
            <img src="{{ profile_image }}" alt="Profile" class="inline-block w-12 h-12 rounded-full"/>
        {% endif %}
        <span class="mt-2 inline-block">
            <span class="ml-2 text-lg font-semibold">{{ comment.user.username }}</span>
            <span class="mx-1 text-gray-500">•</span>
            <span class="text-sm text-gray-500">{{ comment.posted }}</span>
        </span>
    </div>

    {#COMMENT OPTIONS#}
    <div class="grid content-center mr-2">
        {% if request.user.is_authenticated and comment.user == request.user %}
            {% if comment.is_spoiler or settings.COMMENT_ALLOW_EDIT or settings.COMMENT_ALLOW_DELETE %}
                <div class="group flex flex-row-reverse space-x-3 space-x-reverse rounded-full bg-gray-100 p-2 border-2">
                    {% include 'icons/icon_dots.html' with class='inline w-6 h-6 fill-gray-500' %}
                    {% if settings.COMMENT_ALLOW_EDIT %}
                        <label for="toggle-edit-{{ comment.urlhash }}" class="hidden group-hover:inline">{% include 'icons/icon_edit.html' with class='w-6 h-6 cursor-pointer fill-green-700' %}</label>
                    {% endif %}
                    {% if settings.COMMENT_ALLOW_DELETE %}
                        <span onclick="LoadDeleteCommentForm('{{ comment.urlhash }}')" class="hidden group-hover:inline">{% include 'icons/icon_delete.html' with class='w-6 h-6 cursor-pointer fill-red-500' %}</span>
                    {% endif %}
                    {% if comment.is_spoiler %}
                        {% include 'icons/icon_eye_off.html' with class='hidden w-6 h-6 fill-none fill-gray-900 group-hover:inline' %}
                    {% endif %}
                </div>
            {% endif %}
        {% elif comment.is_spoiler %}
            <label for="toggle-spoiler-{{ comment.urlhash }}" class="rounded-full bg-gray-100 p-2 cursor-pointer border-2">
                {% include 'icons/icon_eye.html' with class='inline w-6 h-6 fill-none stroke-gray-500' %}
            </label>
        {% endif %}
    </div>
</div>

{#COMMENT SECTION#}
<div class="mt-2 {% if comment.is_spoiler and not comment.user == request.user %}hidden peer-checked:block{% endif %}">
    {#COMMENT CONTENT#}
    {% if settings.COMMENT_ALLOW_EDIT %}<input type="checkbox" class="peer sr-only" id="toggle-edit-{{ comment.urlhash }}">{% endif %}
    <div class="p-2 text-justify block peer-checked:hidden">{{ comment.content }}</div>
    <div class="p-1 text-justify hidden peer-checked:block">
        {% if request.user.is_authenticated and comment.user == request.user and settings.COMMENT_ALLOW_EDIT %}
            {% include 'forms/comment_form_edit.html' with comment=comment %}
        {% endif %}
    </div>

    <div class="mt-2 flex justify-between">

        {#COMMENT REACTION#}
        <div class="flex space-x-2">
            {#TODO REACTION#}
            {#<span class="rounded-full border-2 border-blue-200 bg-blue-100 py-1 px-2"><span>👍</span> {{ comment.posted.minute }}</span>#}
            {#<span class="rounded-full border-2 border-gray-200 bg-gray-100 py-1 px-2"><span>👎</span> {{ comment.posted.hour }}</span>#}
        </div>

        {#COMMENT REPLY#}
        {% if settings.COMMENT_ALLOW_REPLY and comment.is_parent %}
            {% comment_count_children comment as count_children %}
            <label for="toggle-reply-{{ comment.urlhash }}">
                <span class="cursor-pointer text-blue-700 px-1">
                    {% if count_children > 1 %}
                        {{ count_children }} Replies
                    {% elif count_children == 1 %}
                        {{ count_children }} Reply
                    {% else %}
                        Reply
                    {% endif %}
                </span>
            </label>
        {% endif %}
    </div>
</div>