{% load static %}

{% if offline_imports %}
    {# load from source #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
{% else %}
    {# load from url #}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {}
            }
        }
    </script>
    <style type="text/tailwindcss">
        @tailwind base;
        @tailwind components;
        @tailwind utilities;

        :root {
            --scrollbarprimary: #e5e7eb;
            --scrollbarsecondary: #9ca3af;
        }

        /* Firefox */
        textarea {
            scrollbar-width: thin;
            scrollbar-color: var(--scrollbarsecondary) var(--scrollbarprimary);
        }

        /* Chrome, Edge, and Safari */
        textarea::-webkit-scrollbar {
            width: 10px;
        }

        textarea::-webkit-scrollbar-track {
            background: var(--scrollbarprimary);
            border-radius: 5px;
        }

        textarea::-webkit-scrollbar-thumb {
            background-color: var(--scrollbarsecondary);
            border-radius: 5px;
            border: 3px solid var(--scrollbarprimary);
        }

        textarea::-webkit-resizer {
            border-width: 5px;
            border-style: solid;
            border-color: var(--scrollbarprimary) var(--scrollbarsecondary) var(--scrollbarsecondary) var(--scrollbarprimary);
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
{% endif %}