{% load static %}
{# load from source#}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}

{# load online #}
{#<script src="https://cdn.tailwindcss.com"></script>#}
{#<script>#}
{#    tailwind.config = {#}
{#        theme: {#}
{#            extend: {#}
{##}
{#                fontFamily: {#}
{#                    Manrope: ['Manrope']#}
{#                },#}
{##}
{#                colors: {#}
{#                    clifford: '#da373d',#}
{#                }#}
{#            }#}
{#        }#}
{#    }#}
{#</script>#}
{##}
{#<link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">#}
{#<style type="text/tailwindcss">#}
{#    @tailwind base;#}
{#    @tailwind components;#}
{#    @tailwind utilities;#}
{##}
{#    #commments {#}
{#        @apply font-Manrope#}
{#    }#}
{##}
{#    @layer utilities {#}
{#        .content-auto {#}
{#            content-visibility: auto;#}
{#        }#}
{#    }#}
{##}
{#</style>#}