<form id="form-comment-edit-{{ comment.urlhash }}" method="post" action="{% url 'comment:update' pk=comment.pk %}">{% csrf_token %}
    <textarea name="content" class="p-1 rounded-lg bg-gray-200 block w-full resize-y box-border text-base mb-2 border-none outline-0 min-h-[120px] placeholder:text-gray-500">{{ comment.content }}</textarea>

    <div class="flex justify-end">
        {#ALLOW_SPOILER#}
        {% if settings.COMMENT_ALLOW_SPOILER %}
            <label class="mr-4 grid content-center">
                <input type="checkbox" name="is_spoiler" id="id_is_spoiler" class="peer sr-only" {% if comment.is_spoiler %}checked="checked"{% endif %}/>
                {#ICON EYE#}
                <span class="block cursor-pointer peer-checked:hidden">{% include 'icons/icon_eye.html' with class='inline-block w-8 fill-none stroke-gray-500' %}</span>
                {#ICON EYE OFF#}
                <span class="hidden cursor-pointer peer-checked:block">{% include 'icons/icon_eye_off.html' with class='inline-block w-8 fill-gray-500' %}</span>
            </label>
        {% endif %}
        <button type="button" onclick="EditComment('form-comment-edit-{{ comment.urlhash }}')" class="rounded-lg border-none bg-black py-2 px-6 text-xl text-white outline-0 shadow-md">Edit</button>
    </div>
</form>